.message-bubble{
  background-color: #90D6FF;
  padding: 10px 12px;
  color: #fff;
  border-radius: 16px;
  margin: 10px;
  align-self: flex-end;
  max-width: 33%;
  max-height: 200px;
  overflow: hidden;
}

.message-text{
  word-wrap: break-word;
  overflow: scroll;
}

.message-response{
  align-self: flex-start;
  background-color: #E1E1E1;
  color: #000;
}

.message-image {
  width: 100%;
  height: 100%;
}

.message-image:hover{
  cursor: pointer;
}

.show-text-file-btn{
  padding: 8px;
  cursor: pointer;
}